<div class="col-sm-7" style="padding: 10px 40px 40px 40px;">
	<div class="row">
		<h1 class="col-sm-11" style="font-size: 30px; margin-top:0px;margin-bottom:20px">
			<b>Temas</b>
		</h1>
	</div>
	<div id="principal-temas" style="height:184px !important;max-height:184px;overflow:auto" class="list-group">
	  @geral.temas()
	</div>
</div>
<div class="col-sm-3 div-btn-big-container">
	<button class="btn btn-danger col-sm-12" style="margin-top:9px" data-toggle="modal" data-target="#loginModal" onclick="mySwiper.swipeTo(2);"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Crie um evento</button>
	<br><button class="btn btn-success col-sm-12" style="margin-top:20px" onclick="mySwiper.swipeTo(1);"><i class="fa fa-eye"></i>&nbsp;&nbsp;Veja todos eventos</button>
</div>