<div class="col-md-6">
	<h1 class="col-sm-11" style="font-size: 20px">
		<b>Crie uma conta</b>
	</h1>
	<form action="">
		<div class="form-group">
			<input class="form-control" placeholder="Nome" required="required" />
		</div>
		<div class="form-group">
			<input class="form-control" type="email" placeholder="E-mail"
				required="required" />
		</div>
		<div class="form-group">
			<input class="form-control" type="password" placeholder="Senha"
				required="required" />
		</div>
		<input class="btn btn-primary" type="submit" value="Cadastrar" />
	</form>
</div>