<div class="container" style="height: 40% !important;">
	<div class="col-md-12"
		style="padding: 20px 40px 40px 20px; height: 100%; margin-bottom: 10px; border-radius: 5px;">
		<div class="row">
			<div class="col-md-4">
				<h1 style="font-size: 30px; margin-top: 0px;">
					<b>Temas</b>
				</h1>
				<div id="temas"
					style="height: 420px !important; max-height: 430px; overflow: auto"
					class="list-group">
					@geral.temas()
				</div>
			</div>
			<div class="col-md-8">
				@tabela.tabelaDeEventos()
			</div>
		</div>
	</div>
</div>
@tabela.tabelaTemplate()

	